<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kinglian.screeninquiry.dao.MedOvPresSheetMapper">
  <resultMap id="BaseResultMap" type="com.kinglian.screeninquiry.model.entity.MedOvPresSheet">
    <id column="sheetid" jdbcType="VARCHAR" property="sheetid" />
    <result column="visitid" jdbcType="VARCHAR" property="visitid" />
    <result column="sheet_num" jdbcType="INTEGER" property="sheetNum" />
    <result column="clinicid" jdbcType="INTEGER" property="clinicid" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="printed_by" jdbcType="VARCHAR" property="printedBy" />
    <result column="printed_date" jdbcType="TIMESTAMP" property="printedDate" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
    <result column="sheet_type" jdbcType="VARCHAR" property="sheetType" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
    <result column="audit_status" jdbcType="INTEGER" property="auditStatus" />
    <result column="audit_note" jdbcType="VARCHAR" property="auditNote" />
    <result column="audit_by" jdbcType="VARCHAR" property="auditBy" />
    <result column="audit_date" jdbcType="TIMESTAMP" property="auditDate" />
    <result column="audit_doctor_account" jdbcType="VARCHAR" property="auditDoctorAccount" />
    <result column="audit_doctor_name" jdbcType="VARCHAR" property="auditDoctorName" />
    <result column="audit_doctor_sign_url" jdbcType="VARCHAR" property="auditDoctorSignUrl" />
    <result column="pres_no" jdbcType="VARCHAR" property="presNo" />
    <result column="drug_sign_url" jdbcType="VARCHAR" property="drugSignUrl" />
    <result column="uniqueid" jdbcType="VARCHAR" property="uniqueid" />
    <result column="yyd_uniqueid" jdbcType="VARCHAR" property="yydUniqueid" />
    <result column="sign_status" jdbcType="INTEGER" property="signStatus" />
    <result column="sign_up_date" jdbcType="TIMESTAMP" property="signUpDate" />
    <result column="sign_auth_status" jdbcType="INTEGER" property="signAuthStatus" />
    <result column="is_test" jdbcType="BIT" property="isTest" />
  </resultMap>
  <sql id="Base_Column_List">
    sheetid, visitid, sheet_num, clinicid, created_by, created_date, printed_by, printed_date, 
    updated_by, updated_date, sheet_type, deleted, total_price, audit_status, audit_note, 
    audit_by, audit_date, audit_doctor_account, audit_doctor_name, audit_doctor_sign_url, 
    pres_no, drug_sign_url, uniqueid, yyd_uniqueid, sign_status, sign_up_date, sign_auth_status, 
    is_test
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from med_ov_pres_sheet
    where sheetid = #{sheetid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from med_ov_pres_sheet
    where sheetid = #{sheetid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="sheetid" keyProperty="sheetid" parameterType="com.kinglian.screeninquiry.model.entity.MedOvPresSheet" useGeneratedKeys="true">
    insert into med_ov_pres_sheet (visitid, sheet_num, clinicid, 
      created_by, created_date, printed_by, 
      printed_date, updated_by, updated_date, 
      sheet_type, deleted, total_price, 
      audit_status, audit_note, audit_by, 
      audit_date, audit_doctor_account, audit_doctor_name, 
      audit_doctor_sign_url, pres_no, drug_sign_url, 
      uniqueid, yyd_uniqueid, sign_status, 
      sign_up_date, sign_auth_status, is_test
      )
    values (#{visitid,jdbcType=VARCHAR}, #{sheetNum,jdbcType=INTEGER}, #{clinicid,jdbcType=INTEGER}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{printedBy,jdbcType=VARCHAR}, 
      #{printedDate,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{updatedDate,jdbcType=TIMESTAMP}, 
      #{sheetType,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, #{totalPrice,jdbcType=DECIMAL}, 
      #{auditStatus,jdbcType=INTEGER}, #{auditNote,jdbcType=VARCHAR}, #{auditBy,jdbcType=VARCHAR}, 
      #{auditDate,jdbcType=TIMESTAMP}, #{auditDoctorAccount,jdbcType=VARCHAR}, #{auditDoctorName,jdbcType=VARCHAR}, 
      #{auditDoctorSignUrl,jdbcType=VARCHAR}, #{presNo,jdbcType=VARCHAR}, #{drugSignUrl,jdbcType=VARCHAR}, 
      #{uniqueid,jdbcType=VARCHAR}, #{yydUniqueid,jdbcType=VARCHAR}, #{signStatus,jdbcType=INTEGER}, 
      #{signUpDate,jdbcType=TIMESTAMP}, #{signAuthStatus,jdbcType=INTEGER}, #{isTest,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="sheetid" keyProperty="sheetid" parameterType="com.kinglian.screeninquiry.model.entity.MedOvPresSheet" useGeneratedKeys="true">
    insert into med_ov_pres_sheet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="visitid != null">
        visitid,
      </if>
      <if test="sheetNum != null">
        sheet_num,
      </if>
      <if test="clinicid != null">
        clinicid,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="printedBy != null">
        printed_by,
      </if>
      <if test="printedDate != null">
        printed_date,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedDate != null">
        updated_date,
      </if>
      <if test="sheetType != null">
        sheet_type,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="totalPrice != null">
        total_price,
      </if>
      <if test="auditStatus != null">
        audit_status,
      </if>
      <if test="auditNote != null">
        audit_note,
      </if>
      <if test="auditBy != null">
        audit_by,
      </if>
      <if test="auditDate != null">
        audit_date,
      </if>
      <if test="auditDoctorAccount != null">
        audit_doctor_account,
      </if>
      <if test="auditDoctorName != null">
        audit_doctor_name,
      </if>
      <if test="auditDoctorSignUrl != null">
        audit_doctor_sign_url,
      </if>
      <if test="presNo != null">
        pres_no,
      </if>
      <if test="drugSignUrl != null">
        drug_sign_url,
      </if>
      <if test="uniqueid != null">
        uniqueid,
      </if>
      <if test="yydUniqueid != null">
        yyd_uniqueid,
      </if>
      <if test="signStatus != null">
        sign_status,
      </if>
      <if test="signUpDate != null">
        sign_up_date,
      </if>
      <if test="signAuthStatus != null">
        sign_auth_status,
      </if>
      <if test="isTest != null">
        is_test,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="visitid != null">
        #{visitid,jdbcType=VARCHAR},
      </if>
      <if test="sheetNum != null">
        #{sheetNum,jdbcType=INTEGER},
      </if>
      <if test="clinicid != null">
        #{clinicid,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="printedBy != null">
        #{printedBy,jdbcType=VARCHAR},
      </if>
      <if test="printedDate != null">
        #{printedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null">
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sheetType != null">
        #{sheetType,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="auditStatus != null">
        #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="auditNote != null">
        #{auditNote,jdbcType=VARCHAR},
      </if>
      <if test="auditBy != null">
        #{auditBy,jdbcType=VARCHAR},
      </if>
      <if test="auditDate != null">
        #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditDoctorAccount != null">
        #{auditDoctorAccount,jdbcType=VARCHAR},
      </if>
      <if test="auditDoctorName != null">
        #{auditDoctorName,jdbcType=VARCHAR},
      </if>
      <if test="auditDoctorSignUrl != null">
        #{auditDoctorSignUrl,jdbcType=VARCHAR},
      </if>
      <if test="presNo != null">
        #{presNo,jdbcType=VARCHAR},
      </if>
      <if test="drugSignUrl != null">
        #{drugSignUrl,jdbcType=VARCHAR},
      </if>
      <if test="uniqueid != null">
        #{uniqueid,jdbcType=VARCHAR},
      </if>
      <if test="yydUniqueid != null">
        #{yydUniqueid,jdbcType=VARCHAR},
      </if>
      <if test="signStatus != null">
        #{signStatus,jdbcType=INTEGER},
      </if>
      <if test="signUpDate != null">
        #{signUpDate,jdbcType=TIMESTAMP},
      </if>
      <if test="signAuthStatus != null">
        #{signAuthStatus,jdbcType=INTEGER},
      </if>
      <if test="isTest != null">
        #{isTest,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kinglian.screeninquiry.model.entity.MedOvPresSheet">
    update med_ov_pres_sheet
    <set>
      <if test="visitid != null">
        visitid = #{visitid,jdbcType=VARCHAR},
      </if>
      <if test="sheetNum != null">
        sheet_num = #{sheetNum,jdbcType=INTEGER},
      </if>
      <if test="clinicid != null">
        clinicid = #{clinicid,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="printedBy != null">
        printed_by = #{printedBy,jdbcType=VARCHAR},
      </if>
      <if test="printedDate != null">
        printed_date = #{printedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null">
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sheetType != null">
        sheet_type = #{sheetType,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="totalPrice != null">
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="auditStatus != null">
        audit_status = #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="auditNote != null">
        audit_note = #{auditNote,jdbcType=VARCHAR},
      </if>
      <if test="auditBy != null">
        audit_by = #{auditBy,jdbcType=VARCHAR},
      </if>
      <if test="auditDate != null">
        audit_date = #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditDoctorAccount != null">
        audit_doctor_account = #{auditDoctorAccount,jdbcType=VARCHAR},
      </if>
      <if test="auditDoctorName != null">
        audit_doctor_name = #{auditDoctorName,jdbcType=VARCHAR},
      </if>
      <if test="auditDoctorSignUrl != null">
        audit_doctor_sign_url = #{auditDoctorSignUrl,jdbcType=VARCHAR},
      </if>
      <if test="presNo != null">
        pres_no = #{presNo,jdbcType=VARCHAR},
      </if>
      <if test="drugSignUrl != null">
        drug_sign_url = #{drugSignUrl,jdbcType=VARCHAR},
      </if>
      <if test="uniqueid != null">
        uniqueid = #{uniqueid,jdbcType=VARCHAR},
      </if>
      <if test="yydUniqueid != null">
        yyd_uniqueid = #{yydUniqueid,jdbcType=VARCHAR},
      </if>
      <if test="signStatus != null">
        sign_status = #{signStatus,jdbcType=INTEGER},
      </if>
      <if test="signUpDate != null">
        sign_up_date = #{signUpDate,jdbcType=TIMESTAMP},
      </if>
      <if test="signAuthStatus != null">
        sign_auth_status = #{signAuthStatus,jdbcType=INTEGER},
      </if>
      <if test="isTest != null">
        is_test = #{isTest,jdbcType=BIT},
      </if>
    </set>
    where sheetid = #{sheetid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kinglian.screeninquiry.model.entity.MedOvPresSheet">
    update med_ov_pres_sheet
    set visitid = #{visitid,jdbcType=VARCHAR},
      sheet_num = #{sheetNum,jdbcType=INTEGER},
      clinicid = #{clinicid,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      printed_by = #{printedBy,jdbcType=VARCHAR},
      printed_date = #{printedDate,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      sheet_type = #{sheetType,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=BIT},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      audit_status = #{auditStatus,jdbcType=INTEGER},
      audit_note = #{auditNote,jdbcType=VARCHAR},
      audit_by = #{auditBy,jdbcType=VARCHAR},
      audit_date = #{auditDate,jdbcType=TIMESTAMP},
      audit_doctor_account = #{auditDoctorAccount,jdbcType=VARCHAR},
      audit_doctor_name = #{auditDoctorName,jdbcType=VARCHAR},
      audit_doctor_sign_url = #{auditDoctorSignUrl,jdbcType=VARCHAR},
      pres_no = #{presNo,jdbcType=VARCHAR},
      drug_sign_url = #{drugSignUrl,jdbcType=VARCHAR},
      uniqueid = #{uniqueid,jdbcType=VARCHAR},
      yyd_uniqueid = #{yydUniqueid,jdbcType=VARCHAR},
      sign_status = #{signStatus,jdbcType=INTEGER},
      sign_up_date = #{signUpDate,jdbcType=TIMESTAMP},
      sign_auth_status = #{signAuthStatus,jdbcType=INTEGER},
      is_test = #{isTest,jdbcType=BIT}
    where sheetid = #{sheetid,jdbcType=VARCHAR}
  </update>
</mapper>